$colorWhite: #ffffff;
$color1: rgba(255,255,255,255);
$color2: rgba(252,250,243,255);
$colorBlock: khaki;
$colorText: #333333;
$colorButton: #8ab73b;
$colorTextLittle: #999999;
$colorTextGreen: #6c8611;
$colorCircle_1: #fccf96;
$colorCircle_2: #f1a75e;
$colorCircle_3: #f38b32;
$colorCircle_4: #e96f1c;
$colorTextTitle: #1a1a1a;
$colorArrow: #764c24;
$widthPic: 720px;


@font-face {
	font-family: Roboto;
	src: url(sorce/Roboto-Medium.ttf);
}

@font-face {
	font-family: RobotoSlab;
	src: url(sorce/RobotoSlabRegular.ttf);
}

.font_Roboto {
	font-family: Roboto, Arial;
}

.font_Roboto_slab {
	font-family: RobotoSlab, Arial;
	color: $colorTextTitle;
}

body {
	font-family: RobotoSlab;
	overflow-x: hidden;
}

.main_question {
	width: 50%;
	margin: 50px auto;
	font-size: 1.5em;
	h1 {
		text-align: center;
		margin: 0px;
	}
	h2 {
		right: 1000px;
		color: rgba(76,76,76,162);
		text-align: center;
		font-size: 1.2em;
		margin: 0px 0px 0px 300px;
	}
}

.head_column {
	width: 100%;
	display: flex;
	margin-top: 50px;

	.col_1 {
		width: 570px;
		padding-left: 60px;
		padding-right: 0px;
	}

	.col_2 {
		padding-left: 150px;
		padding-right: 100px;
		display: block;
	}
	div {
		width: 50%;
		margin: 5px;
		background-color: $colorWhite;

		img {
			width: 570px;
			height: 400px;
		}

		p {
			color: $colorText;
			.span_crossed {
				color: $colorTextLittle;
				font-size: 1.4em;
				text-decoration: line-through;
			}
		}
		
		.conteiner_bat {
			margin: 0px;
			width: 100%;
		}

		.batton_block {
			width: 300px;
			height: 75px;
			margin: 30px auto 30px 0px;
			padding: 0px;

		}

		.batton {
			width: 300px;
			height: 75px;
			color: white;
			font-size: 1.3em;
			background-color: $colorButton;
			border-radius: 5px;
			text-align: center;
			vertical-align: middle;
			display: table-cell;
			text-decoration: none;
		}
		.batton:hover {
			border: none;
		}

		.arrow {
			background: none;
			position: absolute;
			width: 130px;
			height: 120px;
			border: 5px dashed $colorArrow;  
			border-right-color: transparent;
			border-bottom-color: transparent;
			border-radius: 50%;
			transform: rotate(120deg);
			right: 150px;
			top: 370px;
		}
		.arrow:before,
		.arrow:after {
			content: "";
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			border: 25px dashed transparent; 
			border-right: 0;
			transform: rotate(-5deg);
		}
		.arrow:after {
			top: -20px;
			left: 100px;
			border-bottom-color: $colorArrow;  

		}
	}
}




.span_green {
	color: $colorTextGreen;
	font-size: 2em;
}
.span_jir {
	font-size: 2em;
}
.span_little {
	font-size: 0.8em;
	color: $colorTextLittle;
}


.step_words {
	text-align: center;
	margin: 0;
	margin-top: 50px;
	margin-bottom: 50px;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
	font-size: 2em;
}
.step_words:before,
.step_words:after {
  content: '';
  display: inline-block;
  position: relative;
  top: -1px;
  width: 50%;
  height: 4px;
  vertical-align: middle;
  background: #cccccc;
}
.step_words:before {
  left: -30px;
  margin-left: -50%;
}
.step_words:after {
  left: 30px;
  margin-right: -50%;
}



.step_conteiner {
	display: flex;
	.point {
		margin: 20px auto 20px auto;
		width: 250px;
		height: 200px;
		text-align: center;
		color: $colorText;
		.color_1_c {border: 5px solid $colorCircle_1;}
		.color_2_c {border: 5px solid $colorCircle_2;}
		.color_3_c {border: 5px solid $colorCircle_3;}
		.color_4_c {border: 5px solid $colorCircle_4;}
		.color_1 {background-color: $colorCircle_1;}
		.color_2 {background-color: $colorCircle_2;}
		.color_3 {background-color: $colorCircle_3;}
		.color_4 {background-color: $colorCircle_4;}
		.circle_1 {
			width: 120px;
			height: 120px;
			border-radius: 50%;
			margin: auto;
			margin-bottom: 15px;

			.circle_2 {
				width: 100px;
				height: 100px;
				border-radius: 50%;
				margin: auto;
				margin-top: 10px;
				.number {
					width: 100px;
					height: 100px;
					display: table-cell;
					text-align: center;
					vertical-align: middle;
					font-size: 4.7em;
					color: $colorWhite;
				}
			}
		}
	}
}


.menu {
	text-align: center;
	margin-top: 120px;

	.span_slader {
		font-size: 1em;
		color: $colorTextTitle;
	}

	.slider {
		width: 100%;
		height: 400px;
		background-color: none;
		margin: 10px auto 10px auto;
		padding: 0px;

		label {
			display: none;
			width: 50px;
			height: 50px;
		}

		.filter_1 {
			z-index: 3;
			position: absolute;
			width: 110%;
			left: -5%;
			height: 400px;
			background-image: linear-gradient(270deg,rgba(255,255,255,0) 70%,rgba(255,255,255,255));
		}

		.filter_2 {
			z-index: 2;
			position: absolute;
			width: 110%;
			left: -5%;
			height: 400px;
			background-image: linear-gradient(270deg,rgba(255,255,255,255),rgba(255,255,255,0) 30%);
		}

		.conteiner_pic {
			z-index: 1;
			display: flex;
			width: 2340px;
			left: -1170px;
			margin-left: 50%;
			position: absolute;
			-webkit-transition: left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000) ;
			-o-transition: left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
			transition:  left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);


			img {
				height: 400px;
				width: 100%;
			}
		.n_1 { 
				width: $widthPic;
				height: 400px;
				margin: 0px 30px 0px 30px;
			}
		.n_2 {
				width: $widthPic;
				height: 400px;
				margin: 0px 30px 0px 30px;
			}
		.n_3 {
				width: $widthPic;
				height: 400px;
				margin: 0px 30px 0px 30px;
			}
		}
	}
}



.radio {
	display: none;
}

#slide1:checked ~ .pr label:nth-child(2), 
#slide2:checked ~ .pr label:nth-child(3), 
#slide3:checked ~ .pr label:nth-child(1){
	float: right;
	margin: 175px 10% 0px 0px;
	display: block;

	.button_pic {
		z-index: 10;
		position: relative;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: white;

		.triangle {
		position: absolute;
		width: 0;
		height: 0;
		border: 15px dashed transparent; 
		border-right: 0;
		border-left-color: #8bb73b;
		left: 20px;
		top: 10px;
		}
	}
}


#slide1:checked ~ .pr label:nth-child(3),
#slide2:checked ~ .pr label:nth-child(1),
#slide3:checked ~ .pr label:nth-child(2){
	float: left;
	margin: 175px 0px 0px 10%;
	display: block;

	.button_pic {
		z-index: 10;
		position: relative;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: white;
		

		.triangle {
		position: absolute;
		width: 0;
		height: 0;
		border: 15px dashed transparent; 
		border-left: 0;
		border-right-color: #8bb73b;
		left: 15px;
		top: 10px;
		}
	}
}

#slide1:checked ~ .conteiner_pic { left: -1170px; }
#slide2:checked ~ .conteiner_pic { left: -1170px - $widthPic; }
#slide3:checked ~ .conteiner_pic { left: -1170px + $widthPic; }

.form {
	display: block;
	.form_b {
		margin: auto;
		padding: 10px;
		border: 5px solid #cccccc;
		border-radius: 5px;
		width: 350px;
		p {
			text-align: center;
		}

		.str {
			text-align: center;
			margin: 5px 25px 5px 25px;
			width: 300px;
			height: 45px;
			border: 2px solid #cccccc;
			border-radius: 5px;
		}

		.batton_block {
			width: 300px;
			height: 45px;
			margin: 5px 25px 5px 25px;
			padding: 0px;
		}

		.batton {
			width: 300px;
			height: 45px;
			color: white;
			font-size: 1.3em;
			background-color: $colorButton;
			border-radius: 5px;
			text-align: center;
			vertical-align: middle;
			display: table-cell;
			text-decoration: none;
		}
		.batton:hover {
			font-size: 1.35em;
			background-color: #9dcd49;
		}
	}
}

.end_words {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 0.8em;
	color: $colorTextLittle;
	text-decoration: underline;
	text-align: center;
}
.batton::-moz-selection {
	background: none;
	color: none;
}
.batton::-webkit-selectionselection {
	background: none;
	color: none;
}
.batton::selection {
	background: none;
	color: none;
}
.batton:hover {
	width: 310px;
	height: 55px;
	
}